* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  
}
h1 {
    text-align: center;
}


footer {
    color: white; 
    background-color: black;
    box-sizing: border-box;
    top: 1000px;
    max-width: 100%;
    padding:20px;
    position: relative;
    
 
}
p{  
    
    text-align: center; 
    font-size: 1em;
    width: 100%;
  
   
    
}